/*================ FONT ================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*================ ROOT ================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ececec;
}

/*================ MAIN ================*/
.password-checker {
  width: 50vw;
  background-color: #0b2669;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  border: 2px solid transparent;
  transition: 0.4s ease-in-out;
}

h1 {
  font: 800 1rem 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #868686;
  margin-bottom: 1rem;
  text-align: center;
}
.input-group {
  position: relative;
  width: 100%;
}

.input-group::before {
  position: absolute;
  content: '\1f512';
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

input#password {
  width: 100%;
  padding: 1rem 1rem 1rem 2.8rem;
  background-color: rgba(96, 91, 139, 0.466);
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
}

#password::placeholder {
  color: #fff;
}

h5 {
  margin: 1.5rem 0 0.7rem;
  color: #c5c5c5;
}

.progress {
  height: 0.4rem;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 0.4rem;
}

.bar {
  width: 0%;
  height: 100%;
  background-color: unset;
  border-radius: inherit;
  transition: 0.4s ease-in-out;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0.5;
}
.logo img {
  width: 11rem;
  height: 6rem;
}

.logo:hover {
  opacity: 0.8;
}
