/*================ FONT ================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*================ ROOT ================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
}

/*================ MAIN ================*/
main {
  height: 100%;
  margin: 8rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.content .lantern {
  width: 220px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 18px;
  font-weight: 400;
}

#dark-change {
  position: absolute;
  width: 65px;
  height: 32px;
  right: 30px;
  top: 40px;
  border: 1px solid #9e9e9e;
  border-radius: 20px;
  outline: none;
}

#dark-change:before {
  position: absolute;
  content: '';
  width: 26px;
  height: 26px;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
  transition: 0.4s;
}

#dark-change.active:before {
  left: 34px;
  background: #d8d8d8;
}

body.night {
  background: #353535;
  color: #fff;
}

.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  opacity: 0.9;
  background-color: #d3d3d3;
  border-radius: 20px;
}

.logo img {
  width: 7rem;
  height: 3rem;
}
