/*================ FONT ================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*================ ROOT ================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  background-color: #ececec;
}

/*================ MAIN ================*/
h1 {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.bxs-sun {
  display: block;
  font-size: 40px;
  cursor: pointer;
  border: 1px solid #cacaca;
  border-radius: 50%;
  padding: 8px;
  color: #4b4b4b
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0.9;
}

.logo img {
  width: 11rem;
  height: 6rem;
}
