/*================ ROOT ================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

/*================ MAIN ================*/
.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0.5;
}
.logo img {
  width: 11rem;
  height: 6rem;
}

.logo:hover {
  opacity: 0.8;
}
