/*================ FONT ================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*================ ROOT ================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #7d2ae8;
}

/*================ MAIN ================*/

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0.7;
}
.logo img {
  width: 12rem;
  height: 7rem;
}