/*================ FONT ================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*================ ROOT ================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #ffd195, #ffb283);
  background: url(images/Shahram-logo.png) no-repeat;
  background-size: 15rem;
}

/*================ MAIN ================*/
.rating-box {
  position: relative;
  background: #fff;
  padding: 25px 50px 35px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.rating-box header {
  font-size: 22px;
  color: #c5c4c4;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.rating-box .stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.stars i {
  color: #e6e6e6;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.stars i.active {
  color: #ff9c1a;
}

.stars .hover {
  color: #ff9c1a;
}
