/*================ FONT ================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/*================ ROOT ================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #000;
}

/*================ MAIN ================*/
